<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <title>NEWS APP</title>

</head>
<body>
    <nav>
        <a href="" class="logo"><h2>TANGAZO NEWS</h2></a>
        <ul class="menu>">
            <li class="nav-items"><a href="">Home</a></li> 
            <li class="nav-items"><a href="">News</a></li> 
            <li class="nav-items"><a href="">Articles</a></li> 
            <li class="nav-items"><a href="">Contact</a></li> 
        </ul>    
    </nav>
<section id="main">
    <div class="banner"><img src="/template/news_1920x1080.png"></div>
    <div class="head">TODAY'S HEADLINES</div>
    #

    <div class="head">TODAY NEWS</div>
    #

</section>
<footer>
    <div class="copyright"><h2>Copyright &copy; Tangazo News 2021</h2></div>
</footer>
</body>
</html>